<div id="main">
    App there
</div>

<script id="appViewTemplate" type="html/template">
    <h1> secretes </h1>

    <div id="secretForm">
        textarea load here
    </div>

    <ul id="secrets">

    </ul>
</script>

<script id="secretInputViewTemplate" type="html/template">
    <textarea placeholder="tell secrets"></textarea>
    <button>submit</button>
</script>
